.casePage_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  text-align: right;
}
.casePage_mainTit {
  font-family: "Lora", "Scheherazade New";
  font-size: 13px;
  width: 500px;
}
.casePage_mainTit > h1 {
  color: #5a5a5a;
  margin-bottom: 10px;
}
.casePage_mainTit > h3 {
  color: #212121;

  margin-bottom: 5px;
}
.casePage_mainTit > p {
  color: #999999;
}
.casePage_description {
  font-family: "Lora", "Scheherazade New";
  font-weight: 600;
  font-size: 15px;
  color: #5a5a5a;
}
.casePage_description > p {
  margin: 10px 0;
  width: 541px;
  margin-left: auto;
}
.casePage_description > ul {
  list-style: none;
  font-weight: 500;
}
