@import url("https://fonts.googleapis.com/css2?family=Lateef&family=Lora:ital@1&family=Merriweather:wght@300&family=Scheherazade+New&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Scheherazade New" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
